body {
  margin: 0px;
}

/* Fluid Grid */

.wrapper {
  display: table;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* For mobile phones: */

@media only screen and (max-width: 480px) {
  
[class*="col-"] {
    width: 100%;
}
}

    /* For desktop: */
.col-1 {
  width: 6.25%
}
.col-2 {
  width: 12.50%
}
.col-3 {
  width: 18.75%
}
.col-4 {
  width: 25%
}
.col-5 {
  width: 31.25%
}
.col-6 {
  width: 37.5%
}
.col-7 {
  width: 43.75%
}
.col-8 {
  width: 50%
}
.col-9 {
  width: 56.25%
}
.col-10 {
  width: 62.5%
}
.col-11 {
  width: 68.75%
}
.col-12 {
  width: 75%
}
.col-13 {
  width: 81.25%
}
.col-14 {
  width: 87.5%
}
.col-15 {
  width: 93.75%
}
.col-16 {
  width: 100%;
  text-align: center;
}

[class*='col-'] {
  float: left;
  padding-right: 10px;
  padding-top: 1px;
  
 }
* {
  box-sizing: border-box;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.row:before, 
.row:after {
     content: "";
     clear: both;
     
 }

/* Fluid Grid end */

/* Navigation bar top */

nav {
  font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

nav li a {
  display: block;
  min-width: 16.6667%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid rgba(224, 220, 212, 0.5);
  color: rgba(224, 220, 212, 0.5);
  font-size: .85em;
}

/* Navigation bar desktop end */

/* Hamburger hidden on desktop */

.hamburger {
  display: none;
}
/* Nav bar mobile */

@media only screen and (max-width: 667px) {
  
nav {
  display: none; 
}

.hamburger {
  display: block;
  background-color: #002846;
  z-index: 3;
  height: auto;
  left: auto;
  right: auto;
  position: relative;
}
}

.navham {
  font-family: 'Roboto', sans-serif;
  position:relative;
  z-index: 4;
}

.navham ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display: block;
}

.navham li a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid rgba(224, 220, 212, 0.5);
  color: white;
  font-size: .85em;
}

.bggrey {
  background-color: #080705;
  color: white;
}

.bgwhite {
  background-color: #D9D9D9;
  color: #080705;
}

/* Nav bar mobile end */

/* Section 1 Desktop*/
.section1 {
  background-color: #002846;
  width:100%;
  height: 100%;
  
}

.section2 {
  background-color: red;
  width:100%;
  height: 100%;
  min-height: 300px;
}


/* Section 1 Desktop end */

/* Section 1 mobile*/

@media only screen and (max-width: 667px) {
.section1 {
  background-color: #002846;
  min-height: 250px;
  height: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}
}
/* Section 1 mobile end */

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/* Responsive Images Desktop */

.midimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  min-height: 100%;
  padding-top: 100px;
}

img {
  max-width: 100%;
  min-width: 15%;
}

/* Responsive images desktop end */

/* Responsive images mobile */

@media only screen and (max-width: 667px) {
.midimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  min-height: 100%;
  padding-top: 20px;
}
}
/* Responsive images mobile end */

.clickshow {
  background-color: #002846;
  border: none;
}

