body {
  margin: 0px;
}

/* Fluid Grid */

.wrapper {
  display: table;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.col-1 {
  width: 6.25%
}
.col-2 {
  width: 12.50%
}
.col-3 {
  width: 18.75%
}
.col-4 {
  width: 25%
}
.col-5 {
  width: 31.25%
}
.col-6 {
  width: 37.5%
}
.col-7 {
  width: 43.75%
}
.col-8 {
  width: 50%
}
.col-9 {
  width: 56.25%
}
.col-10 {
  width: 62.5%
}
.col-11 {
  width: 68.75%
}
.col-12 {
  width: 75%
}
.col-13 {
  width: 81.25%
}
.col-14 {
  width: 87.5%
}
.col-15 {
  width: 93.75%
}
.col-16 {
  width: 100%;
  text-align: center;
}

[class*='col-'] {
  float: left;
  padding-top: 1px;
  display: table-cell;
 }
 
* {
  box-sizing: border-box;
}

.row:before, 
.row:after {
     content: "";
     clear: both;
     display: table;
     width: 100%;
     
 }

/* Fluid Grid end */

/* Navigation bar top */

nav {
  font-family: 'Roboto', sans-serif;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

nav li a {
  display: block;
  min-width: 16.6667%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid rgba(224, 220, 212, 0.5);
  color: white;
  font-size: .85em;
}


/* Navigation bar desktop end */

/* Hamburger hidden on desktop */

.hamburger {
  display: none;
}
/* Nav bar mobile */

.navham {
  font-family: 'Roboto', sans-serif;
  position:relative;
  z-index: 4;
}

.navham ul {
  list-style-type:none;
  margin:0;
  padding:0;
  display: block;
}

.navham li a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  border-bottom: 1px solid rgba(224, 220, 212, 0.5);
  color: white;
  font-size: .85em;
}

.bggrey {
  background-color: #080705;
  color: white;
}

.bgwhite {
  background-color: #D9D9D9;
  color: #080705;
}

/* Nav bar mobile end */

/* Section 1 Desktop*/
.section1 {
  background-color: #002846;
  width:100%;
  min-height: 800px;
}

/* Section 1 desktop end */

/* Section 2 desktop */
.section2 {
  background-color: #fff;
  width: 100%;
  min-height: 1000px;
  color: #93a4aa;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* Section 2 Desktop end */

/* section 3 desktop end */

.section3 {
  background-color: #f7f7f7; 
  width: 100%;
  min-height: 600px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #93a4aa;
}

/* Section 3 Desktop end */

/* Section 4 desktop start*/

.section4 {
  background-color: #fff;
  width: 100%;
  min-height: 250px;
  color: #93a4aa;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

/* Section 4 desktop end*/

/*section 5 desktop*/

.section5 {
  background-color: #f7f7f7;
  width: 100%;
  min-height: 600px;
  color: #252a30;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.section6 {
  background-color: #FED766;
  width: 100%;
  min-height: 350px;
  color: #252a30;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}


.skills {
  padding-top: 60px;
}

.list1 {
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  transition: 0.3s;
  background-color: white;
  min-height: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0px;
  border-radius: 0px 0px 5px 5px;
  background-image: url(../media/ash-edmonds-510566-unsplash.jpg);
  background-size: cover;
}

.list2 {
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  transition: 0.3s;
  background-color: white;
  min-height: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0px;
  border-radius: 0px 0px 5px 5px;
  background-image: url(../media/david-travis-554904-unsplash.jpg);
  background-size: cover;
}

.list3 {
  box-shadow: 0 0 30px rgba(0,0,0,.1);
  transition: 0.3s;
  background-color: white;
  min-height: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 0px;
  border-radius: 0px 0px 5px 5px;
  background-image: url(../media/georgie-cobbs-467923-unsplash.jpg);
  background-size: cover;
}

.cardtop {
  background-color: #0FA3B1;
  border-radius: 5px 5px 7px 7px;
  margin-bottom: 60px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.white {
  color: white;
}
/* Responsive Images Desktop */

.midimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  min-height: 100%;
  padding-top: 100px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
}

.roundimage {
  border-radius: 2%;
  width: auto;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 60px;
  box-shadow: 5px 5px 5px #888888;
}

/* Responsive images desktop end */

/* buttons */

.clickshow {
  background-color: #002846;
  border: none;
}

.buttonlink {
  font-weight: bold;
  border: 2px solid #FED766;
  background-color: transparent;
  color: #252a30;
  line-height: normal;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  letter-spacing: 0;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px 10px 20px;
  margin-right: 20px;
}

.buttonlink:hover {
  padding: 10px 30px 10px 30px;
  border: 2px solid #252a30;
  color: #FED766;
  background-color: #252a30;

}

.buttonlink2 {
  font-weight: bold;
  border: 2px solid #252a30;
  background-color: transparent;
  color: #252a30;
  line-height: normal;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  letter-spacing: 0;
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px 10px 20px;
  margin-top: 20px
}

.buttonlink2:hover {
  padding: 10px 30px 10px 30px;
  border: 2px solid #252a30;
  color: #FED766;
  background-color: #252a30;

}
/* Buttons end */

/*Responsive typography*/

h1 {
  color: #252a30;
  font-weight: 700;
  font-size: 1.8em;
}

h2 {
  color: #252a30;
  font-weight: 700;
  font-size: 1.8em;
}

h3 {
  color: #252a30;
  font-weight: 700;
  font-size: 1.4em;
}

h4 {
  color: #252a30;
  font-weight: 700;
  font-size: 1.2em;
}


p {
  font-weight: 300;
  font-size: 1vw;
  line-height: 1.8;
  color: #282c36;
  font-family: 'Montserrat', sans-serif;
}

.p2 {
  font-weight: 300;
  font-size: 1vw;
  line-height: 1.8;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.3); 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Positional rules*/

.padleftright {
  padding-right: 10px;
  padding-left: 10px;
}

.padleftright2 {
  padding-right: 30px;
  padding-left: 30px;
}

.margintop {
  margin-top: 60px;
}

.marginbottom {
  margin-bottom: 60px;
}

.minheight {
  min-height: 197px;
}

.maxheight {
  max-height: 450px;
  overflow: hidden;
}

/*positional rules close*/

/*Form setion 6 start*/
.form1 {
  padding-top: 30px;
  display: none;
}

.form1 ul {
  list-style: none;
}

input {
  width: 50%;
  padding: 15px 10px 15px 10px;
  margin-bottom: 10px;
  text-decoration: none;
  list-style: none;
}

.submit input {
  width: 25%;
}
.bigbox {
  height: 200px;
}

/*Form close*/

/* Mobile Styles*/

/*Columns to fill mobile screens*/

@media only screen and (max-width: 667px) {

[class*="col-"] {
    width: 100%;
    float: left;
}
}

/*Hide nav bar and display hamburger on mobile*/

@media only screen and (max-width: 667px) {
  
.nav {
  display: none;
}

.hamburger {
  display: block;
  background-color: #002846;
  z-index: 3;
  height: auto;
  left: auto;
  right: auto;
  position: relative;
  padding-right: 0px;
}


}

/*Section 1 mobile*/

@media only screen and (max-width: 667px) {
.section1 {
  background-color: #002846;
  min-height: 520px;
  height: 100%;
  padding-top: 20px;
  margin-bottom: 20px;
}
}

/* Responsive images mobile */

@media only screen and (max-width: 667px) {
.midimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  min-height: 100%;
  padding-top: 20px;
}

.mobilehidden {
  display: none;
}
}

/*General body rules*/

@media only screen and (max-width: 667px) {
body {
  margin: 0px;
  height: 100%;
}

.wrapper {
  display: table;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  height: 100%;
}
}

@media only screen and (max-width: 667px) {
p {
  font-size: 3vw;
}

.p2 {
  font-weight: 300;
  font-size: 3vw;
  line-height: 1.8;
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.3); 
}

h1 {
  color: #252a30;
  font-weight: 400;
  font-size: 5vw;
}

h2 {
  color: #252a30;
  font-weight: 400;
  font-size: 5vw;
}
h3 {
  color: #252a30;
  font-weight: 400;
  font-size: 4.5vw;
}
}
